body {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.day-container {
  display: inline-block;
  width: 20%;
  outline: solid 1px black;
  text-align: center;
  height: 100%; }
  .day-container .day-header {
    font-weight: bold;
    height: 5%;
    vertical-align: middle;
    border-bottom: solid 1px black; }
  .day-container .day-body {
    height: 95%;
    position: relative; }
    .day-container .day-body .hour-grid .hour-container {
      height: 10%;
      border-bottom: solid 1px #ddd; }
    .day-container .day-body .hour-grid, .day-container .day-body .timeslot-container {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px; }
    .day-container .day-body .timeslot-container .timeslot {
      background-color: yellow;
      border: solid 1px black;
      opacity: 0.8;
      height: 200px;
      width: 100%;
      position: absolute; }
      .day-container .day-body .timeslot-container .timeslot .content {
        height: 96%;
        cursor: move;
        padding: 20px 0px;
        font-weight: bold; }
      .day-container .day-body .timeslot-container .timeslot .handle {
        position: absolute;
        height: 10px;
        width: 100%;
        cursor: row-resize;
        background-color: red; }
        .day-container .day-body .timeslot-container .timeslot .handle--bottom {
          bottom: 0px; }

.project-list-container {
  display: inline-block;
  width: 20%;
  text-align: center;
  height: 100%;
  margin-left: -3px;
  outline: solid 1px black;
  vertical-align: top; }

.week-container {
  display: inline-block;
  width: 80%;
  margin: 0px;
  margin-left: -3px;
  height: 100%;
  vertical-align: top; }
